.header {
  display: flex;
  flex-direction: wrap;
  min-height: 48px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid black;
  padding: 1em;
}

.banner {
  width: 20%;
}

.search {
  width: 60%;
}

.profile {
  width: 20%;
}
