body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.cusheader {
  border-bottom: 1px solid #d8d8d8;
}
.cusform {
  padding: 3em 1em 1em;
  border: 1px solid #d8d8d8;
  margin: 1.5rem 0 0;
}
